.home .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

/*******************************************************************************
 *                                                                             *
 * Status server                                                               *
 *                                                                             *
 ******************************************************************************/

.status-server {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    width: 12rem;
    height: 2rem;
    color: var(--color);
    border-radius: 10px;
    margin-top: 2rem;
    padding: 0.5rem;
    text-align: center;
    right: 1rem;
}

.server-status-icon {
    height: 1.5rem;
    margin-left: 5px;
}

.server-status-name {
    font-size: 0.7rem;
    color: var(--color);
}

.server-status-text {
    font-size: 0.45rem;
    color: #1AC707;
}

.server-status-infos .red {
    color: #FF0409;
}

.status-player-count {
    background: var(--shadow);
    min-width: 2rem;
    height: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.player-count {
    font-size: 1rem;
}

.status-player-count:after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    border: solid 2px var(--background);
    background: #1AC707;
}

.red:after {
    background: #FF0409;
}

.home-bottom {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

/*******************************************************************************
 *                                                                             *
 * news server                                                                 *
 *                                                                             *
 ******************************************************************************/

.new-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
    height: 100%;
    margin-top: 2rem;
}

.titre-tab-new {
    margin-top: 1rem;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--background-transparent);
    color: var(--color);
    margin-right: auto;
    margin-left: 3rem;
}

.news-list {
    width: 95%;
    height: 100%;
    border-radius: 10px;
}

.news-block {
    width: 100%;
    margin: 0 0 1rem 0;
    border-radius: 10px;
    background: var(--background-transparent);
}

.news-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.header-text .title {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1rem;
    text-align: center;
}

.news-header .date {
    display: flex;
    align-items: center;
    gap: 5px;
}

.news-content .bbWrapper {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;

}

.news-content .bbWrapper p {
    font-weight: lighter;
    margin: 0;
    font-size: 15px;
}

.news-content .bbWrapper .news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-content .bbWrapper .news-author span {
    font-weight: 700;
}

/*******************************************************************************
 *                                                                             *
 * social server                                                               *
 *                                                                             *
 ******************************************************************************/


.social-tab {
    position: absolute;
    display: flex;
    top: calc(100% + 10px);
    right: 0;
    justify-content: center;
}

.social-list {
    display: flex;
    gap: 10px;
}

.social-block {
    display: flex;
    background: var(--background-transparent);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.social-block .icon-social {
    pointer-events: none;
    background-repeat: no-repeat;
    height: 55%;
    width: 55%;
    filter: var(--svg-color);
}

/*******************************************************************************
 *                                                                             *
 * sidebar                                                                     *
 *                                                                             *
 ******************************************************************************/

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: auto;
}

.player-options {
    border-radius: 50px;
    overflow: hidden;
    height: 3rem;
    width: 3rem;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
}

.player-head {
    background: url('../../images/default/setve.png'), no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    transition: var(--transition);
    height: 3rem;
    width: 3rem;
    pointer-events: none;
    border-radius: 15px;
}

.player-menu {
    color: var(--element-color);
    transform: rotate(270deg);
    pointer-events: none;
}

.play-elements {
    right: 1rem;
    position: absolute;
    bottom: 0.5rem;
}

.play-instance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 15px;
    height: 3.2rem;
}

.play-btn {
    border: none;
    border-radius: 20px;
    background: var(--background-element);
    color: var(--color);
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 2px;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.instance-select {
    display: flex;
    align-items: center;
    position: absolute;
    right: -3px;
    top: -2px;
    color: var(--element-color);
    font-size: 1rem;
    height: calc(100% - 1px);
    border: solid 3px var(--element-color);
    text-align: center;
    border-radius: 15px;
    padding: 0 0.5rem;
    cursor: pointer;
}

.instance-select:before {
transform: rotate(270deg);
pointer-events: none;
}

.info-starting-game {
display: none;
text-align: center;
}

.progress-bar {
appearance: none;
height: 10px;
margin: 0.5rem 0;
}

.progress-bar::-webkit-progress-bar {
background-color: var(--background);
border: solid 1px var(--element-color);
border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
background-color: var(--element-color);
border-radius: 10px;
}

.settings-btn {
    display: none;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: var(--element-color);
    margin: 0 1.5rem;
}

.instance-popup {
position: absolute;
display: none;
width: 100%;
height: 100%;
background: #000000b3;
z-index: 10;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.instances-tab {
position: relative;
background: var(--background);
border-radius: 10px;
padding: 1rem 3rem;
}

.close-popup {
position: absolute;
display: flex;
top: 10px;
right: 10px;
background: var(--shadow);
height: 30px;
width: 30px;
border-radius: 10px;
align-items: center;
justify-content: center;
}

.instances-tab p {
margin-top: 1.5rem;
font-size: 2rem;
}

.instance-elements {
background: var(--background-element);
text-align: center;
border-radius: 10px;
margin: 0.5rem 0;
font-size: 1.5rem;
cursor: pointer;
}

.instance-elements:hover {
background: var(--element-color);
}

.active-instance {
background: var(--element-color);
}